[Unit]
Description=Add the secret to decrypt the system in the TPM.
 
[Service]
WorkingDirectory=/root/tpm
ExecStart=/usr/bin/add-secret-to-tpm
 
[Install]
WantedBy=multi-user.target